<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        <h3>Recuperar Contraseña</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{'is-invalid': email.invalid && (email.touched || submitted)}">
            @if(email.invalid && (email.touched || submitted)){
              <span class="error-block">
                @if (email.hasError('required')) {
                  Por favor ingrese su email
                }
                @if (email.hasError('email')) {
                  Por favor ingrese un email válido
                }
              </span>
            }
          </div>

          <div class="form-group mt-3">
            <button
              type="submit"
              class="btn btn-primary me-2"
              [disabled]="!forgotPasswordForm.valid">
              Enviar Link de Recuperación
            </button>
            <a [routerLink]="['/user/login']" class="btn btn-link">Volver al Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
