<div class="card">
  <div class="image-container">
    <img
      class="propImg"
      src="assets/Images/{{ property.Image }}.jpg"
      alt="Imagen de la tarjeta"
    />
    @if(!hideIcons){

    <div class="buttons-container">
      <button
        class="btn btn-primary"
        routerLink="/property-detail/{{ property.Id }}"
        routerLinkActive="router-link-active"
      >
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
      <button class="btn btn-primary">
        <i class="fa-regular fa-address-book"></i>
      </button>
    </div>
    }
  </div>

  <div class="card-body p-1">
    <h2 class="mb-0">{{ property.BHK }} BHK {{property.PType}}</h2>
    en {{property.Name}},
    @if(property.Name){
      <span>{{property.City}}</span>
    }

    <h6 class="mt-2">
    @if(property.FType!=='desamueblado'){
      <span>Amueblamiento {{ property.FType }}</span> | Listo para mudarse
    }@else {
      <span>Sin {{ property.FType }}</span> | Listo para mudarse
    }
  </h6>
  <hr class="mt-0 mb-2">
    <h6 class="mb-0">Precio: <span class="font-highlight">{{ property.Price }} USD.</span> | Area: <span class="font-highlight">{{property.BuiltArea}}</span> m<sup>2</sup></h6>
  </div>
</div>
