

<div class="row mb-5">
  <div class="col-8 p-0 shadow-lg bg-white">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Detalla tu propiedad</h3>
      </div>
      <div class="card-body">

        <form (ngSubmit)="onSubmit()" #Form="ngForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #staticTabs>
              <tab heading="Información Básica" class="nav-tabs">
                <div class="form-group col-12">
                  <p>Busco</p>
                  <div class="btn-group " btnRadioGroup>
                    <label
                      class="btn btn-outline-primary me-2 "
                      role="button"
                      name="VentaAlquiler"
                      >Venta</label
                    >
                    <label
                      class="btn btn-outline-primary "
                      role="button"
                      name="VentaAlquiler"
                      >Alquiler</label
                    >
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p>Baño Comedor Cocina</p>
                  <div class="btn-group" btnRadioGroup>
                    @for (bhk of [1,2,3,4]; track $index ){
                    <label
                      class="btn btn-outline-primary me-2"
                      tabindex="0"
                      role="button"
                      name="VentaAlquiler"
                      >{{ bhk }}</label
                    >
                    }
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p>Tipo de propiedad</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    [(ngModel)]="propertyView.Type"
                    name="PropTipo"
                  >
                    @for (pType of propertyTypes; track $index ){
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      [btnRadio]="pType"
                      >{{ pType }}</label
                    >
                    }
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p>Amueblado</p>
                  <div class="btn-group" btnRadioGroup>
                    @for (fType of furnishTypes; track $index ){
                    <label
                      class="btn btn-outline-primary me-2"
                      tabindex="0"
                      role="button"
                      name="VentaAlquiler"
                      >{{ fType }}</label
                    >
                    }
                  </div>
                </div>
                <div class="form-group col-12" class="mt-3">
                  <label for=""
                    >Nombre de la construcción/Sociedad/Proyecto</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    #propName="ngModel"
                    ngModel
                    name="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name"
                  />
                  @if (!propName.valid && propName.touched) {
                  <span class="error-block">
                    @if (propName.errors?.['required']) { Por favor, proveer
                    nombre. } @if (propName.errors?.['minlength']) { El nombre
                    debe tener al menos 5 caracteres. }
                  </span>
                  }
                </div>
                <div class="form-group col-12">
                  <label for="" class="mt-2">Ciudad</label>
                  <input type="text" class="form-control" ngModel name="Type" />
                </div>

                <div class="form-group col-12">
                  <div class="d-grid gap-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-block mt-3"
                      (click)="selectTab(1)"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </tab>

              <tab heading="Precio y Superficie">
                <div class="form-group col-12 mt-3">
                  <label class="mt-2">Precio (en USD)</label>
                  <input
                    type="number"
                    class="form-control"
                    name="price"
                    [(ngModel)]="propertyView.Price"
                  />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Seguro (en USD)</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Mantenimiento (en USD)</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Metros cuadrados construidos</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Metros cuadrados cubiertos</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="d-grid gap-2 mt-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(2)"
                  >
                    Siguiente
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(0)"
                  >
                    Atrás
                  </button>
                </div>
              </tab>

              <tab heading="Dirección">
                <div class="form-group col-12 mt-3">
                  <label class="mt-2">Piso</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Pisos totales</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Domicilio</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Punto de referencia</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="d-grid gap-2 mt-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(3)"
                  >
                    Siguiente
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary btn-block mt-2"
                    (click)="selectTab(1)"
                  >
                    Atrás
                  </button>
                </div>
              </tab>

              <tab heading="Otros detalles">
                <div class="form-group col-12" class="mt-3">
                  <p>Listo para mudarse</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      name="OtrosDetalles"
                    >
                      Si</label
                    >
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      name="OtrosDetalles"
                    >
                      No</label
                    >
                  </div>
                </div>
                <div class="form-group col-3 mt-3">
                  <label>Posesión/Disponible desde</label>

                  <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'DD-MM-YYYY',
                      containerClass: 'theme-dark-blue'
                    }"
                  />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Años de la propiedad</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12" class="mt-3">
                  <p>Barrio cerrado</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      name="OtrosDetalles"
                    >
                      Si</label
                    >
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      name="OtrosDetalles"
                    >
                      No</label
                    >
                  </div>
                </div>
                <div class="form-group col-12" class="mt-3">
                  <p>Listo para mudarse</p>
                  <div class="btn-group" btnRadioGroup>
                    @for(ctypes of cardinalTypes; track $index){
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      name="OtrosDetalles"
                      >{{ ctypes }}</label
                    >
                    }
                  </div>
                </div>

                <div class="form-group col-12">
                  <label class="mt-2">Residencia privada</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Acceso principal</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Descripción</label>
                  <textarea
                    type="text"
                    class="form-control"
                    rows="6"
                  ></textarea>
                </div>
                <div class="form-group col-12">
                  <div class="d-grid gap-2 mt-3">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(4)"
                    >
                      Siguiente
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(2)"
                    >
                      Atrás
                    </button>
                  </div>
                </div>
              </tab>

              <tab heading="Fotos">
                <div class="form-group col-12" class="mt-3">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Subir foto</button>
                    <br />
                    Está bajo construcción
                  </div>
                </div>
                <div class="d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary btn-block mt-2"
                    (click)="selectTab(3)"
                  >
                    Atrás
                  </button>
                  <button type="reset" class="btn btn-primary btn-block">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary btn-block">
                    Guardar
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4 ">
    <div class="card-header" style="border-top-right-radius: 5px; border-top-left-radius: 5px;" >
      <h3 class="text-center">Detalle previo</h3>
    </div>
    <div class="tab-panel p-3 shadow-lg bg-white">
      <app-card [property]="propertyView"></app-card>
    </div>
  </div>
</div>


