<div class="row mb-5">
  <div class="col-8 p-0 shadow-lg bg-white">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Detalla tu propiedad</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="addPropertyForm" (ngSubmit)="onSubmit()">
          <div class="tab-panel">
            <tabset class="member-tabset" #staticTabs>
              <tab heading="Información Básica" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>Busco</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="VentaAlquiler"


                  >
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      name="VentaAlquiler"
                      btnRadio="1"

                      >Venta</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      role="button"
                      name="VentaAlquiler"
                      btnRadio="2"
                      >Alquiler</label
                    >
                  </div>
                  @if(VentaAlquiler.invalid && nextClicked){
                    <div class="error-block">
                        Por favor seleccionar Venta o Alquiler
                    </div>
                  }

                </div>

                <div class="form-group col-12 mt-3">
                  <p>Baño Comedor Cocina Living</p>
                  <div class="btn-group" btnRadioGroup name="BHK"  formControlName="BHK">
                    @for (bhk of [1,2,3,4]; track $index ){
                    <label
                      class="btn btn-outline-primary me-2"
                      tabindex="0"
                      role="button"
                      [btnRadio]="bhk"
                      (click)="propertyView.BHK=bhk"
                      name="BHK"
                      >{{ bhk }}</label
                    >
                    }
                  </div>

                  @if(BHK.invalid && nextClicked){
                    <div class="error-block">
                        Por favor seleccionar BHKL
                    </div>
                  }
                </div>

                <div class="form-group col-12 mt-3">
                  <p>Tipo de propiedad</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType">
                    @for (pType of propertyTypes; track $index ){
                    <label
                      class="btn btn-outline-primary me-2"
                      role="button"
                      [btnRadio]="pType"
                      name="PType"
                      (click)="propertyView.PType=pType"

                      >{{ pType }}</label
                    >
                    }
                  </div>
                  @if(PType.invalid && nextClicked){
                    <div class="error-block">
                        Por favor seleccionar tipo de propiedad
                    </div>
                  }
                </div>

                <div class="form-group col-12 mt-3">
                  <p>Amueblado</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType">
                    @for (fType of furnishTypes; track $index ){
                    <label
                      class="btn btn-outline-primary me-2"
                      tabindex="0"
                      [btnRadio]="fType"
                      role="button"
                      name="FType"
                      (click)="propertyView.FType=fType"
                      >{{ fType }}</label
                    >
                    }
                  </div>
                  @if(FType.invalid && nextClicked){
                    <div class="error-block">
                        Por favor seleccionar tipo de amueblamiento
                    </div>
                  }
                </div>
                <div class="form-group col-12" class="mt-3">
                  <label for=""
                    >Nombre de la construcción/Sociedad/Proyecto</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="Name"
                    formControlName="Name"
                    [(ngModel)]="propertyView.Name"

                    minlength="5"
                  />
                  @if (!addPropertyForm.valid && addPropertyForm.touched) {
                  <span class="error-block">
                    @if (addPropertyForm.errors?.['required']) { Por favor,
                    proveer nombre. } @if
                    (addPropertyForm.errors?.['minlength']) { El nombre debe
                    tener al menos 5 caracteres. }
                  </span>
                  }
                  @if(Name.invalid && nextClicked){
                    <div class="error-block">
                        Por favor seleccionar construcción/Sociedad/Proyecto
                    </div>
                  }
                </div>
                <div class="form-group col-12">
                  <label for="" class="mt-2">Ciudad</label>
                  <input type="text" class="form-control" name="City"
                  formControlName="City"
                  [(ngModel)]="propertyView.City"

                 />
                </div>
                @if(City.invalid && nextClicked){
                  <div class="error-block">
                      Por favor seleccionar ciudad
                  </div>
                }

                <div class="form-group col-12">
                  <div class="d-grid gap-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-block mt-3"
                      (click)="selectTab(1, BasicInfo.valid)"
                      [disabled]="BasicInfo.invalid"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </tab>

              <tab heading="Precio y Superficie" formGroupName="PriceInfo">
                <div class="form-group col-12 mt-3">
                  @if(VentaAlquiler.value==1){
                    <label class="mt-2">Precio (en USD)</label>
                  }
                  @if(VentaAlquiler.value==2){
                    <label class="mt-2">Alquiler (en USD)</label>
                  }

                  <input
                    type="number"
                    class="form-control"
                    formControlName="Price"
                    [(ngModel)]="propertyView.Price"

                  />
                </div>
                @if(Price.invalid && (nextClicked || Price.touched)){
                  <div class="error-block">
                      Por favor seleccionar @if(VentaAlquiler.value==1){
                        <span>precio</span>
                      }@else{
                        rent

                      }
                  </div>
                }



                <div class="form-group col-12">
                  <label class="mt-2">Metros cuadrados construidos</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="BuiltArea"
                  />
                </div>
                @if(BuiltArea.invalid && nextClicked){
                  <div class="error-block">
                      Por favor seleccionar metros cuadrados
                  </div>
                }
                <div class="form-group col-12">
                  <label class="mt-2">Metros cuadrados cubiertos</label>
                  <input type="text" class="form-control" formControlName="CarpetArea"/>
                </div>
                <div class="d-grid gap-2 mt-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(2, PriceInfo.valid)"
                  >
                    Siguiente
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(0, PriceInfo.valid)"
                  >
                    Atrás
                  </button>
                </div>
              </tab>

              <tab heading="Dirección" formGroupName="AddressInfo">
                <div class="form-group col-12 mt-3">
                  <label class="mt-2">Piso</label>
                  <input type="text" class="form-control" formControlName="FloorNo"/>
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Pisos totales</label>
                  <input type="text" class="form-control" formControlName="TotalFloor"/>
                </div>
                <div class="form-group col-12">
                  <label class="mt-2">Domicilio</label>

                  <input type="text" class="form-control" formControlName="Address"/>

                </div>
                @if(Address.invalid && (nextClicked || Address.touched)){
                  <div class="error-block">
                      Por favor ingresar dirección
                  </div>
                }

                <div class="form-group col-12">
                  <label class="mt-2">Punto de referencia</label>
                  <input type="text" class="form-control" formControlName="LandMark"/>
                </div>

                <div class="d-grid gap-2 mt-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(3, AddressInfo.valid)"
                  >
                    Siguiente
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary btn-block mt-2"
                    (click)="selectTab(1, AddressInfo.valid)"
                  >
                    Atrás
                  </button>
                </div>
              </tab>

              <tab heading="Otros detalles" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Listo para mudarse</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2"
                      btnRadio=true tabindex="0" role="button"
                      (click)="propertyView.RTM=true"
                      name="RTM">Si
                    </label>

                    <label class="btn btn-outline-primary"
                      btnRadio=false  tabindex="0" role="button"
                      (click)="propertyView.RTM=false"
                      name="RTM">No
                    </label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Por favor seleccionar listo para mudarse
                  </div>
                </div>


                <div class="form-group col-6">
                  <label *ngIf="propertyView.RTM">Fecha pactada</label>
                  <label *ngIf="!propertyView.RTM">Fecha de posesión</label>
                  <input type="text"
                  class="form-control"
                  formControlName="PossesionOn"
                  #possessionOn
                  (bsValueChange)="propertyView.PossesionOn=PossesionOn.value"
                  bsDatepicker
                  [bsConfig]="{containerClass: 'theme-dark-blue',
                  dateInputFormat: 'MMM DD, YYYY'}">
                  <div class="error-block" *ngIf="PossesionOn.invalid
                    && (nextClicked || PossesionOn.touched)">
                    Por favor seleccionar fecha de posesion/establecida
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Barrio privado</p>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="Gated">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=true tabindex="0" role="button" name="Gated">Si</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=false  tabindex="0" role="button" name="Gated">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Entrada principal</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="MainEntrance">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=East tabindex="0" role="button" name="Entrance">Este</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=West  tabindex="0" role="button" name="Entrance">Oeste</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=South  tabindex="0" role="button" name="Entrance">Sur</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=North  tabindex="0" role="button" name="Entrance">Norte</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Descripción</label>
                  <textarea type="text"
                  class="form-control"
                  formControlName="Description"
                  rows="6"></textarea>
                </div>

                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(4, OtherInfo.valid)">Siguiente</button>

                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(2, OtherInfo.valid)">Atras</button>
                </div>
              </tab>

              <tab heading="Fotos">
                <div class="form-group col-12" class="mt-3">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Subir foto</button>
                    <br />
                    Está bajo construcción
                  </div>
                </div>
                <div class="d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary btn-block mt-2"
                    (click)="selectTab(3, PriceInfo.valid)"
                  >
                    Atrás
                  </button>
                  <button type="reset" class="btn btn-primary btn-block">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary btn-block">
                    Guardar
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div
      class="card-header"
      style="border-top-right-radius: 5px; border-top-left-radius: 5px"
    >
      <h3 class="text-center">Detalle previo</h3>
    </div>
    <div class="tab-panel p-3 shadow-lg bg-white">
      <app-card [property]="propertyView" [hideIcons]="true"></app-card>
    </div>
  </div>
</div>





