<div class="container">
  <input
    type="file"
    (change)="onFileSelected($event)"
    multiple
    accept="image/*"
    class="form-control mb-3"
  />

  <div class="row">
    @for(photo of photos; track photo.publicId){

    <div class="col-3 mb-3">
      <img
        [src]="photo.imageUrl"
        alt="{{ photo.imageUrl }}"
        class="img-thumbnail p-3"
        class="img-fluid rounded"
        style="max-height: 200px; object-fit: cover"
      />
      <div class="text-center mt-1">
        <button
          class="btn btn-sm"
          [disabled]="photo.isPrimary"
          [ngClass]="
            photo.isPrimary ? 'btn-success active' : 'btn-outline-success'
          "
          (click)="setMainPhoto(photo.publicId)"
        >
          Main
        </button>
        <button
          class="btn btn-sm btn-danger ml-3"
          (click)="deletePhoto(photo.id)"
        >
          <i class="fa fa-trash"></i>
          Delete
        </button>
      </div>
    </div>
    }
  </div>
</div>
