.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  min-height: 400px;
  background-color: white;
}

.member-tabset .nav-tabs li.active {
  border-bottom: 4px solid #0069d9;

}

.member-tabset .nav-tabs li:hover {
  border-bottom: 4px solid #e1e2eb;

}


.member-tabset .nav-tabs li a {
  border: none;
  background: transparent;
  color: #495057;
  padding: 10px 15px;
  transition: all 0.3s ease;
}


